.Main{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
    background-color: thistle;
}
.Button{
    width: 90px;
    margin:15px;
    cursor: pointer;
    border: black 1.5px solid;
    border-radius: 4px;
}
.Body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: coral;
}
.Content{
    padding: 20px;
}